modules = ["zulu21"]
run = [
  "java",
  "--source 21",
  "--enable-preview",
  "Carriage2.java",
]

[nix]
channel = "stable-24_05"

[deployment]
run = [
  "sh",
  "-c",
  "java",
  "Carriage2.java",
]
